<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>com.zfnf.mobile-egress.client.app</string>
<key>CFBundleName</key><string>ZFNF Mobile Egress Client</string>
<key>CFBundleDisplayName</key><string>ZFNF Mobile Egress Client</string>
<key>CFBundleExecutable</key><string>mobile-egress-client-app</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>@@RELEASE_VERSION@@</string>
<key>CFBundleVersion</key><string>@@BUILD_VERSION@@</string>
<key>CFBundleIconFile</key><string>iconfile</string>
<key>LSMinimumSystemVersion</key><string>13.0</string>
<key>NSHighResolutionCapable</key><true/>
</dict></plist>
